.siteheader {
    .container {
        padding-top: 20px;
    }
    &_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        &_logo {
            display: flex;
            gap: 30px;
            align-items: center;
            height: fit-content;
            &_left {
                max-width: 140px;
                h1,
                p {
                    @include text_gradient(var(--main_gradient));
                }
                h1 {
                    @include font($fz: 21px, $fw: 700);
                    margin-bottom: 8px;
                }
                p {
                    @include font(12.5px, $fw: 500);
                }
            }
            &_descr {
                max-width: 150px;
                @include font($fz: 14px);
            }
        }
        &_address {
            max-width: 210px;
            @include font($fz: 14px, $fw: 500);
        }
        &_phone {
            a {
                @include text_gradient(var(--main_gradient));
                @include font($fz: 24px, $fw: 700);
                margin-bottom: 12px;
            }
            p {
                @include font($fz: 14px, $fw: 500);
                span {
                    @include font($fw: 600);
                }
            }
        }
        &_social {
            max-width: 140px;
            &_img {
                display: flex;
                gap: 10px;
                margin-bottom: 5px;
            }
            p {
                text-align: center;
            }
            a {
                display: block;
                text-align: center;
                @include font($fw: 600);
            }
        }
        &_btn {
            @include btn($padding: 20px 15px);
            @include font($fz: 17px, $fw: 600);
        }
    }
    &_bottom {
        ul {
            display: flex;
            gap: 56px;
            li {
               &:first-child {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                    width: 45px;
                    height: 3px;
                    background: var(--main_gradient);
                    border-radius: var(--big_radius);
                }
               }
            }
        }
    }
}
