* {
  // transition: 0.8s;
  @include font_all(16px);
  color: var(--white);
}
body {
  min-height: 100vh;
}
.wrapper {
  background: var(--black_brown);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
// .main {
//   flex: 1 1 auto;
// }
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.content {
  flex: 1 1 auto;
}
.none {
  display: none !important;
}
.btn {
  display: block;
  width: fit-content;
}
