:root {
    --main_font-family: "Gilroy", sans-serif;

    --container-padding: 240px;

    // colors:
    --white: #{$white};
    --black: #{$black};
    --color_desert_sand: #E6CEAA;
    --white_brown: #C8A27B;
    --black_brown: #222222;

    // gradients:
    --main_gradient: linear-gradient(135deg, var(--color_desert_sand), #C8A27B);

    // radius
    --big_radius: 50px;
    --small_radius: 30px;
}

